<a href="https://colab.research.google.com/github/anushasanka33/Customer_Churn_Prediction_ML/blob/main/major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [ ]:
df=pd.read_csv("data.csv")

In [ ]:
df.head(10)

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
5,2015,101953,329-6603,NaN,31,65,no,no,193.65,12.7,21.95,111,6,4.0,4,1.0
6,2015,103051,416-1845,NaN,54,59,no,no,239.25,10.2,27.12,106,4,NaN,0,0.0
7,2015,103225,348-7193,Female,40,50,no,no,196.65,5.6,22.29,88,9,NaN,5,1.0
8,2015,103408,413-4039,Male,61,205,no,yes,263.70,7.8,29.89,64,5,3.0,2,0.0
9,2015,103676,338-5207,Male,31,63,no,no,316.80,12.3,35.90,58,2,4.0,0,0.0

In [ ]:
df.drop(['year','phone_no','multi_screen','gender','age','customer_support_calls','mail_subscribed'],axis=1,inplace=True)

In [ ]:
df.head(50)

,customer_id,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,churn
0,100198,62,148.35,12.2,16.81,82,1,4.0,0.0
1,100643,149,294.45,7.7,33.37,87,3,3.0,0.0
2,100756,126,87.30,11.9,9.89,91,1,4.0,1.0
3,101595,131,321.30,9.5,36.41,102,4,3.0,0.0
4,101653,191,243.00,10.9,27.54,83,7,3.0,0.0
5,101953,65,193.65,12.7,21.95,111,6,4.0,1.0
6,103051,59,239.25,10.2,27.12,106,4,NaN,0.0
7,103225,50,196.65,5.6,22.29,88,9,NaN,1.0
8,103408,205,263.70,7.8,29.89,64,5,3.0,0.0
9,103676,63,316.80,12.3,35.90,58,2,4.0,0.0
10,103697,114,338.70,8.4,38.39,100,9,3.0,0.0
11,103738,107,201.00,7.3,22.78,79,3,2.0,0.0
12,104025,84,112.95,12.3,12.80,134,1,4.0,0.0
13,104904,142,218.10,10.9,24.72,96,1,3.0,0.0
14,106264,137,313.20,11.1,35.50,130,5,3.0,0.0
15,106415,100,328.05,12.1,37.18,117,4,4.0,0.0
16,106723,84,239.25,7.2,27.12,82,4,2.0,0.0
17,107195,99,300.00,11.4,34.00,82,2,4.0,0.0
18,107251,115,367.50,13.7,41.65,124,8,4.0,1.0
19,107707,194,72.60,18.2,8.23,87,1,5.0,0.0
20,107962,104,246.30,10.7,27.91,117,8,3.0,0.0
21,108471,170,369.60,9.1,41.89,95,8,3.0,0.0
22,108519,76,395.10,11.4,44.78,101,5,4.0,1.0
23,108763,94,206.25,13.4,23.38,131,2,4.0,0.0
24,108810,81,251.85,9.2,28.54,103,6,3.0,1.0
25,108961,137,363.15,14.7,41.16,50,2,4.0,0.0
26,109133,119,240.00,8.7,27.20,107,5,3.0,1.0
27,110920,138,275.85,15.0,31.26,125,3,5.0,0.0
28,111051,124,197.70,11.3,22.41,101,2,4.0,0.0
29,111118,48,346.35,7.6,39.25,87,4,NaN,0.0
30,111252,106,280.65,11.0,31.81,81,3,NaN,0.0
31,111338,161,499.35,5.4,56.59,128,9,2.0,1.0
32,111935,89,123.45,7.2,13.99,70,4,2.0,0.0
33,112023,105,234.15,14.7,26.54,95,3,4.0,1.0
34,112029,59,273.75,11.3,31.03,100,8,4.0,0.0
35,112607,81,218.10,5.2,24.72,109,4,2.0,0.0
36,112612,67,228.75,4.9,25.93,104,3,2.0,0.0
37,113139,129,324.00,4.9,36.72,109,10,2.0,0.0
38,113990,56,205.80,14.3,23.32,72,4,4.0,0.0
39,114301,62,220.65,12.2,25.01,115,3,4.0,0.0
40,114359,95,391.20,10.1,44.34,97,5,3.0,0.0
41,114545,76,336.60,6.7,38.15,74,2,2.0,0.0
42,114687,37,286.65,12.9,32.49,117,1,4.0,0.0
43,114709,80,483.45,6.7,54.79,123,8,2.0,1.0
44,114846,190,254.10,8.9,28.80,93,5,3.0,0.0
45,114864,168,146.10,11.4,16.56,124,2,4.0,0.0
46,115639,166,192.30,8.8,21.79,130,7,3.0,0.0
47,115913,42,361.80,10.6,41.00,91,4,3.0,0.0
48,116388,96,390.60,11.5,44.27,87,4,4.0,0.0
49,116710,76,409.95,12.0,46.46,84,7,4.0,1.0

In [ ]:
median_value=df['maximum_days_inactive'].median()

In [ ]:
df['maximum_days_inactive'].fillna(value=median_value,inplace=True)

In [ ]:
df.head(10)

,customer_id,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,churn
0,100198,62,148.35,12.2,16.81,82,1,4.0,0.0
1,100643,149,294.45,7.7,33.37,87,3,3.0,0.0
2,100756,126,87.30,11.9,9.89,91,1,4.0,1.0
3,101595,131,321.30,9.5,36.41,102,4,3.0,0.0
4,101653,191,243.00,10.9,27.54,83,7,3.0,0.0
5,101953,65,193.65,12.7,21.95,111,6,4.0,1.0
6,103051,59,239.25,10.2,27.12,106,4,3.0,0.0
7,103225,50,196.65,5.6,22.29,88,9,3.0,1.0
8,103408,205,263.70,7.8,29.89,64,5,3.0,0.0
9,103676,63,316.80,12.3,35.90,58,2,4.0,0.0

In [ ]:
features=['no_of_days_subscribed','weekly_mins_watched','minimum_daily_mins','maximum_daily_mins','weekly_max_night_mins','videos_watched','maximum_days_inactive']

In [ ]:
df.dropna(axis=0,inplace=True)
df.reset_index()

,index,customer_id,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,churn
0,0,100198,62,148.35,12.2,16.81,82,1,4.0,0.0
1,1,100643,149,294.45,7.7,33.37,87,3,3.0,0.0
2,2,100756,126,87.30,11.9,9.89,91,1,4.0,1.0
3,3,101595,131,321.30,9.5,36.41,102,4,3.0,0.0
4,4,101653,191,243.00,10.9,27.54,83,7,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1960,1992,994954,119,176.70,7.6,20.03,76,3,3.0,0.0
1961,1996,998086,127,273.45,9.3,30.99,116,3,3.0,0.0
1962,1997,998474,94,128.85,15.6,14.60,110,16,5.0,0.0
1963,1998,998934,94,178.05,10.4,20.18,100,6,3.0,0.0
1964,1999,999961,73,326.70,10.3,37.03,89,6,3.0,1.0

In [ ]:
x = df.loc[:, features]
y = df.loc[:, ['churn']]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y,stratify=y,random_state=0, train_size = .75)

In [ ]:
reg=DecisionTreeClassifier(max_depth=3,random_state=0)
reg.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=0)

In [ ]:
reg.predict(x_test[0:])

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
y_train

      churn
471     0.0
1892    0.0
1751    1.0
76      0.0
1809    0.0
...     ...
1736    0.0
1138    0.0
1596    0.0
8       0.0
211     0.0

[1473 rows x 1 columns]

In [ ]:
y_test

      churn
943     0.0
2       1.0
1302    1.0
1244    0.0
188     0.0
...     ...
859     0.0
986     0.0
181     0.0
532     0.0
1802    0.0

[492 rows x 1 columns]

In [ ]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
print("Train score: {}\tTest score: {}".format(
        model.score(x_train, y_train),
        model.score(x_test, y_test)))

Train score: 1.0	Test score: 0.766260162601626

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 22)
classifier.fit(x_train, y_train)
# Predicting the Test set results
y_pred = classifier.predict(x_test)
#Evaluate results
acc = accuracy_score(y_test, y_pred )
prec = precision_score(y_test, y_pred )
rec = recall_score(y_test, y_pred )
cfm = confusion_matrix(y_test,y_pred)
results = pd.DataFrame([['KNeighborsClassifier',
acc, prec, rec , cfm]], columns = ['Model',
'Accuracy', 'Precision', 'Recall', 'confusion matrix'])
results = results.sort_values(["Precision",
"Recall"], ascending = False)
print (results)

                  Model  Accuracy  Precision    Recall     confusion matrix
0  KNeighborsClassifier  0.867886   0.545455  0.090909  [[421, 5], [60, 6]]

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)
# Predicting the Test set results
y_pred = classifier.predict(x_test)
#Evaluate results
acc = accuracy_score(y_test, y_pred )
prec = precision_score(y_test, y_pred )
rec = recall_score(y_test, y_pred )
cfm = confusion_matrix(y_test,y_pred)
model_results = pd.DataFrame([[
'Naive Byes', acc, prec, rec, cfm]],
columns = ['Model', 'Accuracy', 'Precision',
'Recall', 'confusion matrix'])
results = results.append(model_results, ignore_index = True)
results = results.sort_values(["Precision",
"Recall"], ascending = False)
print (results)

                  Model  Accuracy  Precision    Recall       confusion matrix
0  KNeighborsClassifier  0.867886   0.545455  0.090909    [[421, 5], [60, 6]]
1            Naive Byes  0.849593   0.375000  0.181818  [[406, 20], [54, 12]]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)
# Predicting the Test set results
y_pred = classifier.predict(x_test)
#Evaluate results
acc = accuracy_score(y_test, y_pred )
prec = precision_score(y_test, y_pred )
rec = recall_score(y_test, y_pred )
cfm = confusion_matrix(y_test,y_pred)
model_results = pd.DataFrame([[
'DecisionTreeClassifier', acc, prec, rec, cfm]],
columns = ['Model', 'Accuracy', 'Precision',
'Recall', 'confusion matrix'])
results = results.append(model_results, ignore_index = True)
results = results.sort_values(["Precision",
"Recall"], ascending = False)
print (results)

                    Model  Accuracy  Precision    Recall  \
0    KNeighborsClassifier  0.867886   0.545455  0.090909
1              Naive Byes  0.849593   0.375000  0.181818
2  DecisionTreeClassifier  0.784553   0.177419  0.166667

        confusion matrix
0    [[421, 5], [60, 6]]
1  [[406, 20], [54, 12]]
2  [[375, 51], [55, 11]]